<div class="text-2xl mb-2">Shopping Cart</div>
<div class="flex flex-col lg:flex-row">
<div class="flex-grow me-5 w-full">
  @if (cartQuery.isSuccess()  && this.cart.length !== 0) {
    @for (item of cart; track item.publicId) {
      <div class="border-t border-gray-200"></div>
      <div class="flex items-center justify-between">
        <div class="p-4 flex">
      <img [src]="'data:' + item.picture.mimeType + ';base64,'+ item.picture.file"
            alt="{{item.name}}" width="110px" class="max-w-full lg:max-w-none me-5">
            <div class="w-40">
              <a [routerLink]="['/product',item.publicId]">{{item.name}}</a>
            </div>
        </div>
      </div>
    }
  }
</div>
</div>
